<template name="SideNav">
    <nav class="side-nav">
        <ul>
            <li>
                <a href="/read-book"><i class="fa fa-book"></i>本の入力</a>
            </li>
            <li>
                <a href="/menu"><i class="fa fa-bookmark-o"></i>本の感想</a>
            </li>
            <li>
                <a href="/reading-list"><i class="fa fa-list-alt"></i>合計リスト</a>
            </li>
            <li>
                  <img src="reading2.gif" style="width:200px;height:80px;"/>
           </li>
        </ul>
     
    </nav>

</template>