<template name="HomeLayout">
    {{> Header}}
    <main>
        <div class="billboard">
            <h4>NY補習W校 保護者会夏期イベント!</h4>
            <h1>読書マラソン</h1>
            <dl><span class="glyphicon glyphicon-check"></span>右上の サインイン/新規登録 をクリック,新規登録はRegisterをクリックし必要事項を記入して下さい。</dl>
            <dl><span class="glyphicon glyphicon-check"></span>ご兄弟がいる場合：ご兄弟で2つ以上のアカウントを作成する際は、登録の際のメールアドレスは１つのアカウントにつき、１つのメールアドレスをお使い下さい。同じメールアドレスは使えません。お手数ですが、ご兄弟でアカウントを登録する際は、別のメールアドレスをお使い下さい。どうぞ宜しくお願い致します。</dl>
            <dl><span class="glyphicon glyphicon-star-empty"></span>オンラインフォームは2学期の最初の定期メールにてリンク先が送られます。紙で参加された方もウェブサイトから参加された方も,混同を避ける為,参加者全員が提出をして下さい。</dl>
           <div class="col-xs-12 col-md-3">
            <div class="thumbnail">
              <img src="readingboyandgirl.jpg" style="width:380px;height:180px;" />
            </div>
           </div>
         </div>
    </main>
   
</template>

